<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SampleSuite" parallel="methods" thread-count="4">
    <test name="SampleTest">
        <classes>
            <class name="testSel">

                <methods>
               <include name="testNavigations"/>
     </methods>

        </class>
        </classes>
    </test>
</suite>


